*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: red;
    width: 100vw;
    height: 100vh;

    display: grid;
    grid: 10vh 1vh 1fr 1vh/ 1fr 4fr;
}
.container{
    background-color: blue;
    grid-area: 2/2/-1/-1;

}
header{
    grid-area: 1/1/2/3;
    background-color: brown;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5vh 2vw;
}
    .user{
        display: flex;
        align-items: center;
        gap: 0.25vw;
    }
    .input-like {
        display: inline-block;
        height: 4vh;
        padding: 0.5vh 1vw 0.5vh 1vw;
        min-width: 0;
        max-width: 30vw;
        font: inherit;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
        white-space: pre;
        overflow: hidden;
        background-color: white;
        color: black;

        text-align: center;
    }
    .input-like:focus {
        border-color: #007BFF;
        box-shadow: 0 0 0 0.2vh rgba(0, 123, 255, 0.25);
    }
.sidebar{
    grid-area: 3/1/4/2;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 1vw;

    gap: 0.25vw;
    overflow: hidden;
    overflow-y: auto;

    scrollbar-width: thin;
}
    .project{
        display: grid;
        width: 100%;


        grid: 10vh / 1fr;
        grid-auto-rows: 10vh;
        gap: 0.25vw;

        background-color: rgb(49, 188, 195);
    }
    .projectTitle{
        background-color: darkgreen;
        padding: 2vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        
    }
    .taskTile{
        background-color: chartreuse;
        box-shadow: -0.1vh 0 0.3vh 0.1vh rgba(0, 0, 0, 0.621);
        border: 0px solid black;
        padding: 0.5vw;
        margin-left: 2vw;

        border-right-width: 0.5vw;
        border-right-color: cadetblue;
        border-radius: 0 0.5vw 0.5vw 0;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }   
        h4{
            max-width: 80%;
            text-overflow: ellipsis;
        }
        button{
            background-color: transparent;
            border: 0;

            padding: 0.25vh 0.25vw;
            border-radius: 0.3vw;

            font-size: medium;
            font-weight: 600;
        }
        button:hover{
            background-color: rgba(0, 0, 0, 0.074);
            box-shadow: 0 0 0.5vw 0.1vw rgba(0, 0, 0, 0.074);
        }
        button:active{
            background-color: rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 0.5vw 0.1vw rgba(0, 0, 0, 0.1);
        }
        .left{
            display: flex;
            flex-direction: column;
            gap: 0.25vw;
        }
            .left>div{
                display: flex;
                gap: 0.5vw;
            }
svg{
    height: 6vh;
    width: auto;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .centered{
        display: flex;
        align-items: stretch;
        flex-direction: column;

        height: 80%;
        width: 60%;
        padding: 2vw;

        background-color: indianred;
    }
        form{
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            
            background-color: chocolate;
        }
            .inputCont,.areaCont{
                display: flex;
                flex: 0 1 auto;
                gap: 0.5vw;
                

                width: 80%;
                background-color: gold;
            }
                input{
                    background-color: rgba(0, 0, 0, 0.24);
                    border: none;
                    border-bottom: 2px solid rgba(0, 0, 0, 0.582);
                    

                    padding: 0.1vw;
                    border-radius: 0.25vw;

                    
                }
            .areaCont{
                flex-direction: column;
                align-items: center;
            }

                textarea{
                    max-height: 35vh;
                    min-height: 10vh;
                    max-width: 100%;
                    min-width: 10vw;
                    height: 20vh;
                    width: 35.25vw;
                    flex-grow: 1;
                    flex-shrink: 1;

                }
            fieldset{
                display: flex;
                flex-flow: row wrap;
                gap: 0.75vw;
                justify-content: space-evenly;
                padding: 0.25vw;

                width: 80%;
            }
        .create{
            background-color: lightsalmon;
        }